go 1.25

toolchain go1.25

use (
	.
	./examples
	./maps
	./parsers/dotenv
	./parsers/hcl
	./parsers/hjson
	./parsers/huml
	./parsers/json
	./parsers/kdl
	./parsers/nestedtext
	./parsers/toml
	./parsers/yaml
	./providers/appconfig
	./providers/azkeyvault
	./providers/basicflag
	./providers/cliflagv2
	./providers/cliflagv3
	./providers/confmap
	./providers/consul
	./providers/env
	./providers/etcd
	./providers/file
	./providers/fs
	./providers/k8smount
	./providers/nats
	./providers/parameterstore
	./providers/posflag
	./providers/rawbytes
	./providers/s3
	./providers/structs
	./providers/vault
	./tests
)
